p Below user has requested to avail one or more services from Inspacco
p
  div
    b User contact:  
    span #{contactNumber}
  div
    b Name:   
    span #{name}
  div 
    b Requested services:  
    span #{services}
p
  div Thanks,
  div Team Inspacco