p Below user has requested to provide one or more services to Inspacco
p
  div
    b User contact:  
    span #{contactNumber}
  div
    b Email:  
    span #{email}
  div
    b Name:    
    span #{name}
  div 
    b Services to provide:  
    span #{services}
p
  div Thanks,
  div Team Inspacco