p Below user has requested to schedule demo from Inspacco
p
  div
    b User contact:  
    span #{contactNumber}
  div
    b Name:   
    span #{name}
  div 
    b Company Name:  
    span #{companyName}
  div 
    b Email Id: 
    span #{email}
p
  div Thanks,
  div Team Inspacco